<!DOCTYPE html>
<html>
  <head>
    <title>Blocitoff</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script>
      var blocmetrics = {
        report: function(event_name){

          var _bm_event = {
            name: event_name,
          }

          var _bm_request = new XMLHttpRequest();
          _bm_request.open("POST", "http://localhost:3001/api/create_event", true);
          _bm_request.setRequestHeader('Content-Type', 'application/json');

          _bm_request.onreadystatechange = function() {
          

          };
          console.log("bm_event")
          console.log(_bm_event);
          _bm_request.send(JSON.stringify(_bm_event));
        }
      }
    </script>

  </head>
  <body>
    <div class="container">
      <ul class="nav nav-tabs">
        <div class="pull-left">
          <h4><%= link_to "Blocitoff", root_path %></h4>
        </div>
        <div class="pull-right user-info">
          <% if current_user %>
            Hello <%= link_to (current_user.name || current_user.email), edit_user_registration_path %>! <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to "Sign In", new_user_session_path %> or
              <%= link_to "Sign Up", new_user_registration_path %>
          <% end %>
        </div>
      </ul>
    <% if flash[:notice] %>
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:error] %>
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:error] %>
      </div>
    <% elsif flash[:alert] %>
      <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:alert] %>
      </div>
    <% end %>

    <%= yield %>

    </div>
  </body>
</html>
